<div class="p-grid">
  <div class="p-col-12 p-md-2 p-md-offset-5 p-lg-2 p-lg-offset-5 p-xl-2 p-xl-offset-5">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit(formulario.value)">
      <p-panel header="Tipos de Endereços">
        <div class="p-grid" style="margin: 10px 0px">
          <div class="p-col-12 ui-fluid">
            <span>Código *:</span>
            <input pInputText type="text" formControlName="enderecoTipoId" placeholder="Código" readonly/>
            <!--<p-message severity="error" text="Código Requerido" *ngIf="!formulario.controls['enderecoTipoId'].valid && formulario.controls['enderecoTipoId'].dirty"></p-message>-->
          </div>
          <div class="p-col-12 ui-fluid">
            <span>Descrição *:</span>
            <input pInputText type="text" formControlName="descricaoTipo" placeholder="Descrição" />
            <p-message severity="error" text="Descrição Requerida" *ngIf="!formulario.controls['descricaoTipo'].valid && formulario.controls['descricaoTipo'].dirty"></p-message>
          </div>
        </div>
        <p-footer>
          <div class="p-grid">
            <div class="p-col-12 ui-fluid">
              <button type="submit" class="btn btn-outline-dark " pTooltip="Salvar" [disabled]="!formulario.valid" style="width: 100%"><i class="fa fa-plus-square-o" aria-hidden="true"> Salvar</i></button>
            </div>
          </div>
        </p-footer>
      </p-panel>
    </form>
  </div>
</div>
