@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
}
#rodape {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 99%;
  padding-bottom: 1px;
  font-style: italic;
  font-weight: bold;
}
#dadosData, #copyrigth, #login {
  border-style: ridge;
  padding: 0px;
  font-size: 12px;
}
